.rflex-center-center {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.rflex-center-between {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.cflex-center-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cflex-center-between {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.bdf-blur-10 {
    backdrop-filter: blur(10px);
}